page-air-setting {
  .toolbar-title {
    color: #fff;
  }
  .back-button {
    color: #fff !important;
  }
  .scroll-content {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .fixed-content {
    // background-color: transparent;
    background-image: url(../../../assets/bg2.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
  }
  ion-content {
    background: gray !important;
    //     background-image: url(../../../assets/bg2.png);
    //     background-position: center top;
    //     background-size: cover;
    //     background-attachment: fixed;
    //     -webkit-filter: blur(20px);
    //     -moz-filter: blur(20px);
    //     -ms-filter: blur(20px);
    //     -o-filter: blur(20px);
    //     filter: blur(20px);
  }
  .container {
    height: 200px;
    width: 200px;
  }
  .room-temp-row {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  .temp-add,
  .temp-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
      // background-color: #fff !important;
      // color: color($colors, primary) !important;
      font-size: 30px;
      font-weight: bold;
      width: 46px;
      height: 46px;
      background: rgba(0, 0, 0, 0);
      color: white;
    }
  }
  .room-temp {
    height: 28px;
    width: 104px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    // border: 1px solid #52a1f3;
    border: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 28px;
  }
  .temp-show {
    width: 200px;
    height: 200px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    span {
      ion-multi-picker {
        display: inline-flex;
        padding: 0;
        .multi-picker-text {
          font-size: 75px;
          color: #fff;
        }
      }
    }
  }
  .temp-show p:first-child {
    text-align: center;
    margin: 0;
    padding-top: 35px;
    // padding-left: 20px;
    span:first-child {
      // font-size: 75px;
    }
  }
  .temp-show p:last-child {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
  .multi-picker-text {
    // font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
  }
  .border-dividing {
    .item-inner {
      border-bottom: none !important;
    }
  }
  .speed {
    color: #fff;
    transition: all 1.5s;
    height: 48px;
    ion-col {
      line-height: 38px;
      height: 100%;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      align-items: center;
      height: 100%;
      li {
        border: 1px solid white;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
  ion-footer {
    border-top: 1px solid white;
    // border: 1 0;
    // border-left: none;
    // border-right: none;
  }
  .mode {
    padding: 0 !important;
    text-align: center;
    height: 100px;
    border-top: 1px dashed white;
    color: white;
    img {
      height: 48px;
      width: 48px;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 5px;
    }
    ion-row {
      height: 100%;
    }
    ion-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100% !important;
    }
  }
  .selected,
  .cool,
  .cool1 {
    background-color: color($colors, primary) !important;
    border-color: color($colors, primary) !important;
  }
  // .cool{
  //   background: #ff9900;
  //   border-color: #ff9900;
  // }
  .hot,
  .hot1 {
    background: #ff9900;
    border-color: #ff9900 !important;
  }
  .shidu {
    text-align: right;
    padding-right: 26px;
    color: #fff;
    font-size: 13px;
  }
  .progressbar-text {
    color: white !important;
    font-size: 75px !important;
  }
  .clock {
    text-align: center;
    font-size: 14px;
    color: red;
    line-height: 50px;
    height: 50px;
  }
  .clock img {
    width: 18px;
    height: 18px;
  }
  .col-clock {
    text-align: center;
    color: white;
    min-height: 61px;
    // height: 86px;
    img {
      width: 28px;
      height: 28px;
    }
  }
  .mode-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .border-top-none {
    border-top: none !important;
  }
  .timer-div {
    width: 80%;
    height: 29px;
    // background: #ccc;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  .timer-div span {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: lightgreen;
    border-radius: 100%;
  }
  .timer-close {
    background-color: gainsboro !important;
  }
  .col-center {
    display: flex;
    justify-content: center;
  }
  .eco-color {
    background-color: #7ccd7c;
    border-color: #7ccd7c !important;
  }
}
