<ion-header>

  <ion-navbar>
    <ion-title>设备 <span [hidden]="auto">({{sumNumOPen}}/{{sumNum}})</span><span [hidden]="!auto"
        style="color: red">(手动)</span></ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <div class="cate_content">
    <div class="cate_left">
      <ion-list class="my-list">
        <ion-item *ngFor="let item of typeDataList" (tap)="getRightCateData(item['F_ID'])"
          [ngClass]="{true:'item-selected',false:'unselected' }[item['F_ID']==typeID]">
          <ion-badge color='danger' *ngIf="stateData[item['F_ID']]">{{stateData[item['F_ID']]}}</ion-badge>

          <div class="start">
            <img src='../assets/img/home/icon-devicesetting1/{{item.F_Img}}'></div>
          <!-- <img src='../assets/img/home/icon-devicesetting/{{item.F_Img}}'> -->
          <h3 style="font-size: 15px">{{item.F_Name}}</h3>

        </ion-item>
      </ion-list>
    </div>

    <div class="cate_right">
      <ion-list class="device-list">
        <button ion-item *ngFor="let item of deviceDataListShow" [ngClass]="item.class" (click)="goSetting(item)">
          <ion-label>
            <div class="label">
              <div>
                {{item.F_Name}}
                <p><span class="biaoqian" [ngClass]="item.F_Color">{{item.F_FloorName+'/'+item.F_RoomName}}</span>
                </p>
              </div>
              <div class="label-right">
                <button ion-button clear small float-right *ngIf="item.F_ShowSetting"
                  [ngClass]="{'close': !deviceStateData[item.F_ID]}">{{item.F_SettingName}}</button>
              </div>
            </div>

          </ion-label>
          <ion-toggle [(ngModel)]="deviceStateData[item.F_ID]" *ngIf="item.F_ShowButton" [disabled]="auto"
            (ngModelChange)="setDeviceState(item.F_ID,item.F_Name,deviceStateData[item.F_ID])"></ion-toggle>
        </button>
      </ion-list>
    </div>


  </div>
</ion-content>
