page-light-huaian-setting {
    .sewen {
        .range-bar {
            background: linear-gradient(135deg, #ff0000 0%, #00ff00 50%, #0000ff 100%)
        }
        .range-bar-active {
            background: none !important;
        }
    }
    .range-bar {
        border-radius: 6px;
    }
    ion-badge {
        float: right;
        margin-top: -34px;
        margin-right: 16px;
        background: beige;
    }
}