page-air-setting-more {
  .multi-picker-text {
    // font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
  }
  .toolbar-title {
    color: #fff;
  }
  .back-button {
    color: #fff !important;
  }
  .scroll-content {
    background-color: transparent;
  }
  .fixed-content {
    // background-color: transparent;
    background-image: url(../../../assets/bg2.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
  }
  ion-content {
    background: gray !important;
  }
  .list {
    .item {
      background: rgba(0, 0, 0, 0) !important;
      color: white !important;
    }
  }
  .multi-picker-text {
    color: #52a1f3 !important;
  }
  .tip {
    color: red;
  }
}
