page-mode-public-setting {
    .my-list{
        ion-icon {
            
            color: #8e9093;
            font-size: 1.2em;
            display: flex;
            align-items: center;
        }
        .start{
            border-radius: 50%;
            width: 45px;
            height: 45px;
            padding: 8px;
        }
    }
}
