page-roomdevice {
  .start {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
  }
  .show-setting {
    // .item-inner {
    //   background-image: none !important;
    //   // padding-right:8px !important;
    // }
  }
  .show-button {
    .item-inner {
      background-image: none !important;
      padding-right:8px !important;
    }
  }
}
